<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="myApp">

        <h1>Batman Quotes {{totalQuotes}}</h1>

         <!--Evento para lanzar la función para añadir una nueva frase-->
          <!--.enter es el modificador de evento de Vue.js para lanzar la función cuando se presiona Enter-->
        <input 
            type="text" 
            placeholder="Add Quote"
            @keypress.enter="addQuote"
            v-model="newMessage" > 

        <br>
        <br>

        <hr>

        <!--<button @click="toggleAuthor">Toggle Author</button>-->
        <button @click="showAuthor = !showAuthor">Toggle Author</button>
        <!--<button @click="addQuote">Add Quote</button>--> <!--Referencia de la función para lanzar el evento que se realice al monmento de dar clic-->
        
    
        <!-- El v-for es para iterar elementos. Es poderoso en Vue.js, 
         porque no solo nos va a permitir a nosostors iterarlos, también 
         va a permitir a desestructurarlos, añadirles índices y muchas 
         otras cosas más -->

         <ul>
            <!--<li v-for="quote in quotes">
                {{quote.author}}
            </li>-->

            <!-- Como se mencionó anteriormente se puede hacer destructuración, 
             ayudandonos a no tener que poner {{quote.}}  -->
             <li v-for="({quote, author}, index) in quotes">
                <span>{{index +1}} - {{quote}}</span>
                <!-- v.if y v-show son directivas que nos van a permitir poder ocultar
                 elementos -->
                <blockquote v-if="showAuthor">{{author}}</blockquote> 
             </li>
         </ul>

         <!--El v-model srive para crear un enlazado de dos lugares, es decir, si cambia en el lado 
         de los inputs, que también cambien en la contraparte de JavaScripta y viceversa-->

    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="app.js"></script>
</body>
</html>